#cont{
    display: flex;
    border: 1px solid blue;
    height: auto;
    /* justify-content: space-between; */
    width: 90%;
    margin-left: 50px;
}

#image_show{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    border: 1px solid rgb(247, 250, 247);
    background-color: rgba(243, 243, 243, 0.959);
    margin: 20px 0 20px 90px;
    border-radius: 7px;
    height: 600px;
}
#details{
    width: 45%;
    /* border: 1px solid blue; */
    padding: 10px;
    margin: 20px 0 20px 50px;

}
#img_src{
    height: 460px;
    width: 400px;
}
#offer{
    height: 100px;
    width: 100%;
    /* border: 1px solid fuchsia; */
}
#offer img{
    width: inherit;
    height: 100px;
}
#header{
    display: flex;
    height: 150px;
    /* border: 1px solid navy; */
    justify-content: space-between;
}
#header #name_brand_dec{
    height: 100px;
    width: 70%;
    /* border: 1px solid saddlebrown; */
}
#header  #price_rateing{
    height: 100px;
    width: 30%;
    /* border: 1px solid rgb(110, 0, 124); */
}
#name,#brand,#dec{
    margin: 10px 0 ;
    font-family: "BBText Bold",Helvetica,Arial,sans-serif;
}
#show div,span{
    font-family: "BBText Bold",Helvetica,Arial,sans-serif;
    
}
#show div{
    margin: 5px 0px;
}
#show span{
    margin:5px 0px;
}
#name{
    
    
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 16px;
}
#dec{
   
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    /* letter-spacing: 3px; */
    /* margin: wo; */
    word-spacing: 3px;
    /* font-style: normal; */
    text-decoration: auto;
    text-align: justify
}
#price_rateing{
    display: flex;
    flex-direction: column;

    align-items:flex-end;
}
#price,#rating{
    font-family: "BBText Bold",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
#btn{
    display: flex;
    /* flex-direction: 
     */
     /* align-items: s; */
     justify-content:center;
    height: 50px;
    /* border: 1px solid gold; */
    margin-top: 20px;
}
#addtobag{
    background-color: black;
    color: white;

    margin: 5px;
    outline: none;
    border: none;
    width: 250px;
    font-family: sans-serif;
    font-size: 20px;
    height: 43px;
    margin-right: 20px;

}
#gift{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 43px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid black;
    margin: 5px;
    /* margin-left: 5px;1 */
    font-weight: 700;
}
#vr{
    height: 400px;
    margin-top: 40px;
    border-left: 6px solid gray;
    margin-left: 10px;
}

#cont2{
    margin: 44px 0px 90px 0px;
    height: 400px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}
#showitem{
width: 100%;
    border: 1px solid pink;
    height: 400px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
 
}
#showitem::-webkit-scrollbar{
    /* width: ;
     */
     height: 0px;
}
#productcad{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    /* padding: 10px; */
    border:1px solid #a79a9a;
    height: 350px;
    /* width: 550px; */
margin-right: 70px;
min-width: 350px;
}
#productcad img{
    width: 220px;
    height: 220px;
    opacity: 1;
    margin: 5px;
    background-color: white;
outline: none;
    
}
#productcad img:hover{
    transform: scale(1.1);
}
#productcad h3{
    color: #1b1b1b;
    font-family: "BBText Bold",Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin:5px ;
}
#productcad p{
    color: #1b1b1b;
    font-family: "BBText Bold",Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 15px;
}
#cart_btn{
    background-color: black;
    color: white;
    height: 62px;
    margin: 5px;
    outline: none;
    border: none;
    width: 141px;
    font-family: sans-serif;
    font-weight: bold;
    height: 33px;

}
hr{
    margin: 40px;
}
#color_item{
   
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#color_show{
    height: 50px;
    width: 50px;
    margin: 10px;
   
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
}
#color_show:hover {
    transform: scale(1.1);
    }

    #cont3{
        /* width: 100%; */
    border: 1px solid pink;
    height: 350px;
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
    margin-bottom: 50px;
    justify-content: space-around;
    }